        <div class="panel-body">
          <ul class="list-group">

            <li class="list-group-item" id="comment_<%= comment.id %>">

              <div>

                <div class="action">
                 <div id="comment_<%= comment.id %>" class="row single-comment vertical-align">
                   <%= link_to '', [comment.post, comment], class: "glyphicon glyphicon-trash btn-xs btn-xs pull-right",  method: :delete, remote: true,  style: "color: red;"%>
                 </div>

                 <a href=""><%= "#{comment.user.first_name} #{comment.user.last_name}" %></a>
                 <div class="mic-info"><%= time_ago_in_words(comment.created_at) %> Ago
                 </div>
               </div>
               <div class="comment-text" id="comment-text">
                <%= comment.body %>
              </div>
            </div>
          </li>

        </ul>
      </div>