
  <div id="signupbox" style="margin: 0px 20px;">
    <div class="panel panel-info" style="padding: 20px;">
      <div class="panel-heading">
        <div class="panel-title text-center">Edit Profile</div>
      </div>  
      <div class="panel-body" >
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
        <form id="signupform" class="form-horizontal" role="form">

          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <%= f.email_field :email, autofocus: true, value: "#{current_user.email}", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">First Name</label>
            <div class="col-md-9">
            <%= f.text_field :first_name, value: "#{current_user.first_name}", class: "form-control"%>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-9">
            <%= f.text_field :last_name, value: "#{current_user.last_name}", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Profile Picture</label>
            <div class="col-md-9">
              <%= f.file_field :profile_picture %><br>
            </div>
          </div>
           
          <div class="col-md-12">
            
          <div class="form-group">

            <label for="icode" class="col-md-3 control-label">Choose your Favorite Categories</label>

          <div class="col-md-9">

            <%= f.collection_check_boxes :category_ids, Category.order(:name), :id, :name, {}, {multiple: true, class: "chosen-select", id: "recommends_category_tokens", value: "#{current_user.categories}"}%>
          </div>

          </div>
         </div>

         <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password confirmation</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="password" placeholder="Re-type Password">
          </div>
        </div>


        <div class="form-group">
          <!-- Button -->                                        
          <div class="col-md-offset-3 col-md-9">
          <input type="submit" name="" value="Sign Up" class="btn btn-info" class="icon-hand-right">
          </div>
        </div>
      </form>
      <% end %>
    </div>
  </div>               
</div>
