<div class='grid col-md-8 col-xs-12'>

  <% @users.each do |user|%>
  
  <div class='grid--item col-md-4 col-sm-6 col-xs-12'>
  <% if user.profile_picture.present? %>
    <div class='img' style='background-image: url(<%= user.profile_picture %>);'></div>
  <% else %>
    <div class='img' style='background-image: url(http://pioneersfestival.networktables.com/resources/userfiles/nopicture.jpg);'></div>
  <% end %>
    <div class='container' style="width: 100%;">
      <h2><%=user.first_name %> <%= user.last_name %></h2>
      <a href="/users/<%= user.id %>" class="label label-default" rel="tooltip" title="Click to View my Poems">View <span class="badge"><%= user.posts.size %></span> Poems</a></p>
      <!-- <div class='desc'>Photo by Ales Krivec</div> -->
    </div>
  </div>
  <% end %>

</div>