<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>




<div class="container-fluid col-md-9" style="background-color: #d6dbde;">
  <!-- Pending poems -->
  <div class="col-md-12">
    <h2 class="text-center">Pending Poems (<%= @pending_posts.count %>)</h2>
    <div class="tbody panel table-box">
      <table class="table">
        <thead class="thead">
          <tr>
            <th>N<sup>o</sup></th>      
            <th>Title</th>
            <th>Poet(ess)</th>
            <th class="pull-right">view</th>
          </tr>
        </thead>
        <tbody>

          <!-- rows -->
          <% @pending_posts.each_with_index do |post, count| %>
          <tr>
            
            <td><%= count + 1%></td>
            <td><%= post.name %></td>
            <td><%="#{post.user.first_name}  #{post.user.last_name}" %></td>
            <td>
              <a href="<%= post_path(post) %>" class="btn-xs btn btn-default pull-right">View</a>
            </td>
          </tr>
          <% end %>
          <!-- end of rows -->

        </tbody>
      </table>
    </div>
  </div>
  

  <!-- users table -->
  <div class="col-md-12">
    <!-- all Students -->
    <div id="admintable">
      <h2 class="text-center">USERS (<%= @users.size %>)</h2>
      <div class="panel table-box">        
        <table class="table">
          <thead class="thead">
            <tr>
              <th>N<sup>o</sup></th>
              <th>Full Name</th>
              <th>N<sup>o</sup> Poems</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- rows -->
              <% @users.each_with_index do |user, count| %>
              <tr>
                <td><%= count + 1 %></td>
                <td><%= "#{user.first_name} #{user.last_name}" %></td>
                <td><%= user.posts.size %></td>
                <td>
                  <% if user.enabled == true%>
                  <a href="/users?disable=<%= user.id%>" class="btn-xs btn btn-danger pull-right">Block</a>
                  <% else %>
                  <a href="/users?disable=<%= user.id%>" class="btn-xs btn btn-primary pull-right">enable</a>
                  <% end %>

                </td>
              </tr>
              <% end %>
              <!-- end of rows -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- All poems -->
  <div class="col-md-12">
    <h2 class="text-center">PUBLISHED POEMS (<%= @published_posts.size %>)</h2>
    <div class="tbody panel table-box">
      <table class="table sidetable" id="test">
        <thead class="thead">
          <tr>
            <th>N<sup>o</sup></th>      
            <th>Title</th>
            <th>Poet(ess)</th>
            <th class="">view</th>
          </tr>
        </thead>
        <tbody>

          <!-- rows -->
          <% @published_posts.each_with_index do |post, count| %>
          <tr>
            <td><%= count + 1 %></td>
            <td><%= post.name %></td>
            <td><%= "#{post.user.first_name} #{post.user.last_name}" %></td>
            <td>
              <a href="<%= post_path(post) %>" class="btn-xs btn btn-default pull-right">View</a>
            </td>
          </tr>
          <% end %>
          <!-- end of rows -->
        </tbody>
      </table>
    </div>
  </div>

</div>