<%= javascript_include_tag Ckeditor.cdn_url %>
<div container-fuild>
  <%= form_for @post do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :body %><br>
    <p>
    <%= f.cktext_area :body %><br>
    <%= f.submit %>
      
    </p>
  <% end %> 
</div>