<div container-fuild>
  <%= form_for @post do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :body %><br>
    <p>
    <%= f.text_area :body %><br>
    <%= f.submit %>
      
    </p>
  <% end %>
</div>