<!-- table container -->
<div class="col-md-8">
  <%#= render "ad" %>

  <% @posts.each do |post| %>  

  <div class="col-md-12 main-box">
    <!-- poet and poem & details -->
    <div class="col-md-12">      
      <div class="col-md-2">
        <% if post.user.profile_picture.present? %>
        <img src="<%= post.user.profile_picture %>" class="img-responsive index-image" style="background-size: cover; float: right;">
        <%else  %>

        <img src="http://pioneersfestival.networktables.com/resources/userfiles/nopicture.jpg" class="img-responsive index-image" style="background-size: cover; float: right;">
        <% end  %>
      </div>
      
      <!-- poem and poet  -->
      <div class="col-md-9">
        <div>        
          <a href="<%= user_path(post.user)%>" style="color: #2f5369"><strong><%= "#{post.user.first_name} #{post.user.last_name}" %></strong></a> : <button class="btn btn-link" onclick="location.href='<%= post_path(post) %>'"><%= post.name %></button>
        </div>
        <div class="mic-info col-md-2 col-xs-4"><%= post.impressionist_count(:filter=>:session_hash)  %> <i class="glyphicon glyphicon-eye-open"></i></div>
        <div class="mic-info text-center col-md-9 col-xs-8"> <span><%= time_ago_in_words(post.updated_at) %> Ago</span></div>  
        <hr>
      </div>
    </div>
    
    <div class="col-md-9 col-md-offset-2">
      <div class="poem-body">        
        <p><%= truncate post.body, length: 250, :omission => "" , :escape => false%> | <%= link_to 'Read More', post_path(post) %></p>
      </div>
      <hr>
      
      <div class="dropup pull-right">
        <a class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" title="Share on different social media"><span class="glyphicon glyphicon-share-alt"></span></a>
        <ul class="dropdown-menu" style="border-color: transparent;">

          <li class="text-center">          
            <%= social_share_button_tag(post.name, :url => "http://transpoesis.com#{post_path(post)}", desc: "#{post.body}", via: "transpoesis") %>
          </li>


        </ul>
      </div>

      <!-- Other buttons -->
      <% if current_user %>
        <div class="votes">
          <% if (current_user.favorited? post) %>
            <%= link_to "Unfavorite", post_favorite_path(post), method: :delete, remote: true, class: "unfavorite_post btn btn-primary btn-xs", title:"Remove to Favorites" %>
          <% else %>
            <%= link_to "Favorite", post_favorites_path(post_id: post.id), method: :post, remote: true, class: "favorite_post btn btn-default btn-xs", title:"Add to Favorites" %>
          <% end %>
        </div>
      <% else %>
      <button onclick="location.href='<%= post_path(post) %>'" class="btn btn-default btn-xs pull-left" title="Firstly, view the whole poem, please!"><span></span><div class="glyphicon glyphicon-plus"> </div> Favorites</button>
      <% end %>

      <div class="text-center">
        <div class="btn-group">

          <!-- like button -->
          <!-- if liked -->
          <% if current_user %>
          <% if current_user.liked? post %>

          <button onclick="location.href='<%= post_path(post) %>'" class="btn btn-primary btn-xs" title="Read the whole thing, Please!"><span><%= post.get_likes.size %> </span><div class="glyphicon glyphicon-heart" style=""> </div></button>
          
          <% else %>

          <!-- if not liked -->
          <button onclick="location.href='<%= post_path(post) %>'" class="btn btn-default btn-xs" data-toggle="modal" data-target="#SignupModal"><span><%= post.get_likes.size %> </span><div class="glyphicon glyphicon-heart-empty"> </div></button>
          <% end %>
          <% else %>
          <!-- if not liked -->
          <button onclick="location.href='<%= post_path(post) %>'" class="btn btn-default btn-xs" title="Read the whole thing, please!"><span><%= post.get_likes.size %> </span><div class="glyphicon glyphicon-heart-empty"> </div></button>
          <% end %>

          <a onclick="location.href='<%= post_path(post) %>'" class="btn btn-default btn-xs" title="Read the whole thing, Please!"><span><%= post.comments.size %> </span><div class="glyphicon glyphicon-comment"> </div></a>

        </div>

      </div>
    </div>

  </div>

  <% end %>
  <div>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>