<div class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Categories
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <br>

    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-9 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar thumbnail">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1" class="form-control side-options">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          Trending Poems
        </h4>
        <div id="group-1" class="list-group collapse out">
         <%# 10.times do || %>
         <a class="list-group-item" href="#">
          <span class="badge pull-right">312 <i class="glyphicon glyphicon-eye-open"></i></span> Trending postS will display here
        </a>
        <%# end %>
      </div>
    </div>

    <div>
      <h4 data-toggle="collapse" data-target="#group-2" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Recently Added
      </h4>

      <div id="group-2" class="list-group collapse out">
          <% @recent_posts.each do |post| %>
        <a class="list-group-item" href="<%= post_path(post) %>">
          <span class="badge pull-right"><%= post.hits %> <i class="glyphicon glyphicon-eye-open"></i></span> <%= post.name %>
        </a>
        <% end %>
      </div>
    </div>
    <div>
    <% if current_user && current_user.recommends.present? %>
      <h4 data-toggle="collapse" data-target="#group-3" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Recommended
      </h4>
      <% current_user.categories.each do |category| %>
      <div id="group-3" class="list-group collapse out">
        <% category.posts.where(review: true).each do |post| %>
        <a class="list-group-item" href="#">
          <span class="badge pull-right"><%= post.hits %><i class="glyphicon glyphicon-eye-open"></i></span> <%= post.name%>
        </a>
        <% end %>
      </div>
      <% end %>
      <% else %>
      <div>
      <h4 data-toggle="collapse" data-target="#group-3" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Recommended
      </h4>
      <div id="group-3" class="list-group collapse out">
      
        <a class="list-group-item" href="">
          No recommended posts yet, add or sign in
        </a>
      </div>
    </div>
      <% end %>
    </div>
    <% if current_user && current_user.favorites.present?%>
    <div>
      <h4 data-toggle="collapse" data-target="#group-4" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Favorites
      </h4>
      <div id="group-4" class="list-group collapse out">
        <% current_user.favorites.each do |favorite| %>
        <a class="list-group-item" href="<%= post_path(favorite.post) %>">
          <span class="badge pull-right"><%= favorite.post.hits %> <i class="glyphicon glyphicon-eye-open"></i></span> <%=favorite.post.name%>
        </a>
        <% end %>
      </div>
    </div>
    <%else %>
    <div>
      <h4 data-toggle="collapse" data-target="#group-4" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Favorites
      </h4>
      <div id="group-4" class="list-group collapse out">
      
        <a class="list-group-item" href="">
          No Favorite, add or sign in
        </a>
      </div>
    </div>
    <% end %>
    <div>
      <h4 data-toggle="collapse" data-target="#group-5" class="form-control side-options">
        <i class="fa fa-fw fa-caret-down parent-expanded"></i>
        <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        Categories
      </h4>
      <div id="group-5" class="list-group collapse in">
        <% Category.all.each do |category| %>
        <a class="list-group-item" href="/posts?category=<%= category.name %>">
        <span class="badge">31k poems</span><%=category.name %>
        </a>
        <% end %>
      </div>
    </div>
  </div>